.comics_poster {
  background-color: #232222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
  color: #FFF;
  margin-bottom: 50px;
}

.comics-page-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 55px 15px;
  margin-bottom: 50px;
}

.comics-item {
  box-shadow: 5px 5px 20px 0px #00000040;
  height: 415px;
  width: 225px;
}

.comics-item_img {
  height: 345px;
  width: 225px;
}

.comics_button {
  background-color: #9F0013;
  color: #FFF;
  border: none;
  padding: 10px 50px;
  margin-bottom: 50px;
}

.comics_button:hover {
  cursor: pointer;
}