.random-character_container {
  height: 250px;
  display: flex;
  flex-direction: row;
  box-shadow: 5px 5px 20px 0px #00000040;
}

.random-character {
  width: 50%;
  padding: 35px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.random-character_inf {
  position: relative;
  width: 50%;
  padding: 35px;
  background-color: #232222;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

.random-character_descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.random-character_title {
  font-size: 22px;
  color: #000;
  font-weight: 700;
}

.random-character_p {
  font-size: 14px;
  color: #000;
  font-weight: 400;
  text-align: left;
}

.random-character_button {
  background-color: #9F0013;
  color: #FFF;
  font-size: 14px;
  margin-right: 20px;
  padding: 10px;
  border: none;
  border-radius: none;
}

.random-character_button:hover {
  cursor: pointer;
}

.random-character_img {
  width: 180px;
  height: 180px;
}

.decoration {
  position: absolute;
  bottom: 5px;
  right: 5px;
}