.select-character {
  padding: 25px;
  box-shadow: 0px 0px 20px 0px #00000040;
  width: 35%;
}

.select-character_title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
  text-align: center;
}

.select-character_empty-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 15px;
}

.select-character_empty-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.select-character_empty-line {
  height: 16px;
  width: 100%;
  background-color: #C4C4C4;
}

.select-character_empty-text-field {
  height: 35px;
  width: 100%;
  background-color: #C4C4C4;
  margin-bottom: 15px;
}